<header class="app-header">
  <div class="header-container">
    <a routerLink="/" class="logo">LaudoPro</a>

    <button class="nav-toggle" (click)="toggleMenu()">
      <svg *ngIf="!isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="nav-toggle__icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /></svg>
      <svg *ngIf="isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="nav-toggle__icon" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
    </button>

    <nav *ngIf="authService.isAuthenticated()" class="nav" [ngClass]="{ 'nav--open': isMenuOpen }">
      </nav>

    <nav *ngIf="!authService.isAuthenticated()" class="nav" [ngClass]="{ 'nav--open': isMenuOpen }">
      <ul class="nav__list">
        <li><a routerLink="/login" class="nav__link">Login</a></li>
        <li><a routerLink="/registro" class="button button--primary">Registrar-se</a></li>
      </ul>
    </nav>
  </div>
</header>